<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Learn Jeet
	link(rel="stylesheet", href="dist/style.css")
body

	section
		aside Sidebar
		.gallery
			img(src="https://placekitten.com/g/800/600")
			img(src="https://placekitten.com/g/800/600")
			img(src="https://placekitten.com/g/800/600")
			img(src="https://placekitten.com/g/800/600")
	
	script(src="lib/angular/angular.min.js")
	script(src="dist/script.js")